.product {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.product_image {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
}

.product_price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.product_name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 2lh;
}
