.error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 24px;
  color: var(--text-primary-color);
  text-align: center;
  background-color: var(--background-alt);
}

.message {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}
